{% extends "base_generic.html" %}

{% block content %} 
<style>
   
</style>
<div class="midde_cont">
  <div class="container-fluid">
     <div class="row column_title">
        <div class="col-md-12">
           <div class="page_title">
              <h2>Audio - Dashboard</h2>
           </div>
        </div>
     </div>
     <!-- row -->
     <div class="row column1">
      <div class="col-md-6 col-lg-3">
         <div class="full counter_section margin_bottom_30">
            <div class="couter_icon">
               <div> 
                  <i class="fa fa-user yellow_color"></i>
               </div>
            </div>
            <div class="counter_no">
               <div>
                  <p class="total_no">2</p>
                  <p class="head_couter">Users</p>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-6 col-lg-3">
         <div class="full counter_section margin_bottom_30">
            <div class="couter_icon">
               <div> 
                  <i class="fa fa-cloud-upload blue1_color"></i>
               </div>
            </div>
            <div class="counter_no">
               <div>
                  <p class="total_no">5</p>
                  <p class="head_couter">Media Uploaded</p>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-6 col-lg-3">
         <div class="full counter_section margin_bottom_30">
            <div class="couter_icon">
               <div> 
                  <i class="fa fa-cogs green_color"></i>
               </div>
            </div>
            <div class="counter_no">
               <div>
                  <p class="total_no">5</p>
                  <p class="head_couter">Processed</p>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-6 col-lg-3">
         <div class="full counter_section margin_bottom_30">
            <div class="couter_icon">
               <div> 
                  <i class="fa fa-bug red_color"></i>
               </div>
            </div>
            <div class="counter_no">
               <div>
                  <p class="total_no">0</p>
                  <p class="head_couter">Failed</p>
               </div>
            </div>
         </div>
      </div>
   </div>
  </div>
  <!-- footer -->
  
</div>
{% endblock %}